# 14th October 2023 - String and List Manipulation

### String Manipulation

In [3]:
my_string = "Bhavya is a good boy. He"s good in maths"
print(my_string)

SyntaxError: unterminated string literal (detected at line 1) (3488974503.py, line 1)

In [4]:
# Using double quotes inside the string
my_string = 'Bhavya is a good boy. He"s good in maths.'
print(my_string)

Bhavya is a good boy. He"s good in maths.

In [5]:
# Using single quotes inside the string
my_string = "He's good in maths"
print(my_string)

He's good in maths

In [6]:
# Each character in a string is stored with the help of index
print(my_string[0])
print(my_string[-1])
print(my_string[100]) # No data is present at 100th index and hence out of index error

H
s

IndexError: string index out of range

In [10]:
# Slicing in strings
print(my_string[1:10:1])
print(my_string[-1:-10:1])
print(my_string[-1:-10:-1])

e's good

shtam ni

In [16]:
# Accessing characters of string using for loop
for i in my_string:
    print(i,end=" ")
print("")
for i in range(len(my_string)):
    print(my_string[i],end=" ")

H e ' s   g o o d   i n   m a t h s
H e ' s   g o o d   i n   m a t h s

In [19]:
# String in reverse order
my_string[::-1]

"shtam ni doog s'eH"

In [23]:
# Concatenation Operation in Strings
print("Bhavya" + " " + "Bhalla")
print("Bhavya" + str(1) + "Bhalla")
print("Bhavya" + [1,2,3]) # Not possible to concatenate string with list

Bhavya Bhalla
Bhavya1Bhalla

TypeError: can only concatenate str (not "list") to str

#### String is an immutable data type i.e. we can not change the content of string once we have defined the string

In [17]:
my_string[0] = 'S'
print(my_string)

TypeError: 'str' object does not support item assignment

#### Inbuilt Functions of Strings

In [24]:
s = "my name is bhavya bhalla"
s

'my name is bhavya bhalla'

In [27]:
# find method 
print(s.find("m"))
print(s.find("bh"))
print(s.find("x"))

0
11
-1

In [37]:
# We have a string say my name is bhavya bhalla and we have to find index of each character present in name
s = "my name is bhavya bhalla"
index = s.find("name")
for i in range(len("name")):
    print(index + i)

3
4
5
6

In [40]:
# count function
print(s.count("m"))
print(s.count("bh"))
print(s.cound("x"))

2
2

AttributeError: 'str' object has no attribute 'cound'

In [45]:
# split function
print(s.split()) # By default it uses space as a delimiter
s1 = 'my_name1_is_bhavya_bhalla'
print(s1.split('_'))

['my', 'name', 'is', 'bhavya', 'bhalla']
['my', 'name1', 'is', 'bhavya', 'bhalla']

In [46]:
# upper function
s.upper()

'MY NAME IS BHAVYA BHALLA'

In [47]:
# lower function
s.lower()

'my name is bhavya bhalla'

In [48]:
# swapcase function
s = "mY nAMe"
s.swapcase()

'My NamE'

In [53]:
# join function
"_".join("my name")

'm_y_ _n_a_m_e'

In [54]:
# reversed function
list(reversed("my name"))

['e', 'm', 'a', 'n', ' ', 'y', 'm']

In [64]:
# strip,lstrip and rstrip
print("    bhavya".strip())
print("bhavya    ".strip())
print("bhavya  bhalla".strip())
print("   bhavya".lstrip())
print("   bhavya".rstrip())
print("bhavya    ".lstrip()) # does not remove spaces from right side
print("bhavya    ".rstrip())

bhavya
bhavya
bhavya  bhalla
bhavya
   bhavya
bhavya
bhavya

In [68]:
# replace function
print(s.replace("m","x"))
print(s) # original string does not get modified

xy naxe is bhavya bhalla
my name is bhavya bhalla

In [70]:
# center function
s2 = "bhavya"
s2.center(11,"x")

'xxxbhavyaxx'

In [75]:
# expandtabs funciton
s3 = "bhavya\tbhalla"
print(s3.expandtabs())

bhavya  bhalla

In [87]:
# Take a string as "We all are a part of Full Stack". 
my_string = "We all are a part of Full Stack"
# i) Normalize the string into lowercase
my_string = my_string.lower()
print(my_string)
# ii) Find number of occurrences of "a" in the entire string
count = 0
for i in my_string:
    if(i == 'a'):
        count = count + 1
print('Number of occurences of a is ',count)
# iii) Find all the index of "a" in the string
for i in range(len(my_string)):
    if(my_string[i] == "a"):
        print(i,end=" ")
print()
# iv) Replace all the "a" with "iNeuron"
my_string = my_string.replace("a","iNeuron")
print(my_string)
# v) Print all the words as a list
my_string.split()

we all are a part of full stack
Number of occurences of a is  5
3 7 11 14 28
we iNeuronll iNeuronre iNeuron piNeuronrt of full stiNeuronck

['we',
 'iNeuronll',
 'iNeuronre',
 'iNeuron',
 'piNeuronrt',
 'of',
 'full',
 'stiNeuronck']

In [101]:
print(s)
# isupper
print(s.isupper())
# islower
print(s.islower())
# isspace
print(s.isspace())
# isdigit
print(s.isdigit())
# endswith
print(s.endswith("bhalla"))
# startswith
print(s.startswith("m"))
# isalnum
print(s.isalnum())
# isalpha
print(s.isalpha())
# istitle
print("My Name Is Bhavya".istitle())

my name is bhavya bhalla
False
True
False
False
True
True
False
False
True

In [102]:
# Find length of the string without using len function
s = "This is a full stack data science course"
length = 0
for i in s:
    length = length + 1
print('Length of string = ',length)

Length of string =  40

In [104]:
# Print the reversed string without any inbuilt function such as reversed and do not use slicing
s = "bhavya bhalla"
start = len(s) - 1
while(start >= 0):
    print(s[start],end="")
    start = start - 1

allahb ayvahb

In [105]:
# Count number of vowels in a string
s = "bhavya is a good boy"
vowel_count = 0
for i in s:
    if i.lower() in 'aeiou':
        vowel_count = vowel_count + 1
print(vowel_count)

7

In [107]:
# Print whether a character in a string is a vowel or not
s = "bhAvya is a good boy"
for i in range(len(s)):
    if s[i].lower() in 'aeiou':
        print('{} is a vowel'.format(s[i]))
    else:
        print('{} is not a vowel'.format(s[i]))

b is not a vowel
h is not a vowel
A is a vowel
v is not a vowel
y is not a vowel
a is a vowel
  is not a vowel
i is a vowel
s is not a vowel
  is not a vowel
a is a vowel
  is not a vowel
g is not a vowel
o is a vowel
o is a vowel
d is not a vowel
  is not a vowel
b is not a vowel
o is a vowel
y is not a vowel

In [110]:
# Find whether a string is a palindrome or not
s = "abccba"
if s == s[::-1]:
    print(s,'is a palindrome')
else:
    print(s,'is not a palindrome')

abccba is a palindrome

#### format function - It is used to fill string at runtime

In [108]:
"{} is a {} boy".format("Bhavya","good")

'Bhavya is a good boy'

In [122]:
a = input("Enter the name : ")
b = input("Enter the marks : ")
print("{} scored {} marks".format(a,b))
print("{a} is a {b} boy".format(b = "good",a = "Bhavya"))

Enter the name : Bhavya
Enter the marks : 100
Bhavya scored 100 marks
Bhavya is a good boy

### List Manipulation

#### List is a mutable data type that is it supports object assignment

In [18]:
my_list = [1,2,3,4]
print(my_list)
my_list[0] = 5
print(my_list)

[1, 2, 3, 4]
[5, 2, 3, 4]

In [114]:
# Indexing in list
l = ["bhavya",1,2,3,[4,5]]
print(l)

['bhavya', 1, 2, 3, [4, 5]]

In [116]:
# Slicing concept in list
print(l[1:3])
print(l[1:4:2])
print(l[::-1])

[1, 2]
[1, 3]
[[4, 5], 3, 2, 1, 'bhavya']

In [117]:
my_str = "bhavya"
list(my_str)

['b', 'h', 'a', 'v', 'y', 'a']

In [119]:
l * 2

['bhavya', 1, 2, 3, [4, 5], 'bhavya', 1, 2, 3, [4, 5]]

In [120]:
len(l)

5

In [121]:
"bhavya" in l

True