# 15th October 2023 - List Manipulation

In [2]:
my_list = ["Bhavya",1,2,3,True,[6,7,8.9,2+3j]]
print(my_list)

['Bhavya', 1, 2, 3, True, [6, 7, 8.9, (2+3j)]]

In [3]:
for i in my_list:
    if type(i) == list: # Extracting elements of the nested list
        for j in i:
            print(j)

6
7
8.9
(2+3j)

In [4]:
my_list[::-1] # Reverse order

[[6, 7, 8.9, (2+3j)], True, 3, 2, 1, 'Bhavya']

In [7]:
l1 = [1,2,3]
l2 = [4,5,6]
print(l1+l2)
print(l1*2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]
3

#### Inbuilt functions in list

In [10]:
# max function
my_list = [1,2,3,4]
print(max(my_list))
print(max("a","b","c"))
print(max(["bhavya",1,2])) # Error as can not compare string with number

4
c

TypeError: '>' not supported between instances of 'int' and 'str'

In [11]:
# min function
print(min(my_list))
print(min("a","b","c"))
print(min("bhavya",1,2))

1
a

TypeError: '<' not supported between instances of 'int' and 'str'

In [12]:
# append function
my_list = [1,2,3,4]
my_list.append(5) # Will insert 5 at the last of the list
print(my_list)
my_list.append([6,7,8])
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, [6, 7, 8]]

In [18]:
# insert function
my_list = [1,2,3,4]
my_list.insert(1,1.5) # Inserts 1.5 at index = 1
print(my_list)
my_list.insert(4,[3.2,3.4,3.6,3.8])
print(my_list)
my_list.insert(-1,5)
print(my_list)

[1, 1.5, 2, 3, 4]
[1, 1.5, 2, 3, [3.2, 3.4, 3.6, 3.8], 4]
[1, 1.5, 2, 3, [3.2, 3.4, 3.6, 3.8], 5, 4]

In [20]:
# count function
my_list = [1,2,3,1,1,1,4,5,2,3]
my_list.count(1)

4

In [24]:
# extend function
my_list = [1,2,3,4]
my_list.extend([5])
print(my_list)
my_list.extend([6,7,8])
print(my_list)
my_list.extend("bhavya")
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 'b', 'h', 'a', 'v', 'y', 'a']

In [25]:
# index function
my_list=[1,2,2,1,1,1,3]
my_list.index(1) # Returns the index of first occurrence of value 1

0

In [28]:
# pop function
my_list = [1,2,3,4]
my_list.pop()
my_list.pop(1)
print(my_list)

[1, 3]

In [30]:
# remove function
my_list = [1,1,1,2,2,2,3]
my_list.remove(1)
print(my_list)

[1, 1, 2, 2, 2, 3]

In [32]:
# reverse function
my_list = [1,2,3,4]
my_list.reverse()
print(my_list)

[4, 3, 2, 1]

In [37]:
# sort function
my_list = [4,2,1,3]
my_list.sort(reverse=True) # reverse is set to true and hence sorts in descending order else by default it is in ascending order
print(my_list)
my_list1 = ["bhavya",1,2,3,4,"a","b","c"]
my_list1.sort()
print(my_list1)

[4, 3, 2, 1]

TypeError: '<' not supported between instances of 'int' and 'str'

In [78]:
# There is a nested list such as my_list = [[],[],[],[]]
my_list = [[1,2,3],["bhavya",4,5,"bhavya","bhavya","bhavya","bhavya"],[6,7,8,"a","a","a",]]
# Q1 -> Append 2 more list and one complex number to my_list in between
my_list.insert(2,[54,21,43])
my_list.insert(2,[32,45,67])
my_list.insert(2,2+3j)
print(my_list)
# Q2 -> If the nested list contains string then remove it
for i in my_list:
    if type(i) == list:
        for j in i:
            if(type(j) == str):
                count = i.count(j)
                while(count != 0):
                    i.remove(j)
                    count = i.count(j)
print(my_list)
# Q3 -> Extract 2nd element of each nested list.
for i in my_list:
    if type(i) == list:
        print(i[1],end=" ")

[[1, 2, 3], ['bhavya', 4, 5, 'bhavya', 'bhavya', 'bhavya', 'bhavya'], (2+3j), [32, 45, 67], [54, 21, 43], [6, 7, 8, 'a', 'a', 'a']]
[[1, 2, 3], [4, 5], (2+3j), [32, 45, 67], [54, 21, 43], [6, 7, 8]]
2 5 45 21 7

In [59]:
# Taking input from user in the list
my_list = []
n = int(input("Enter the number of elements : "))
for i in range(n):
    x = int(input("Enter the integer number : "))
    my_list.append(x)
print(my_list)

Enter the number of elements : 10
Enter the integer number : 1
Enter the integer number : 2
Enter the integer number : 3
Enter the integer number : 4
Enter the integer number : 5
Enter the integer number : 6
Enter the integer number : 7
Enter the integer number : 8
Enter the integer number : 9
Enter the integer number : 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Comprehension

In [79]:
# We have to write the below code in a single line and this can be done via list comprehension
my_list = []
for i in "Bhavya":
    my_list.append(i)
print(my_list)

['B', 'h', 'a', 'v', 'y', 'a']

In [80]:
[i for i in "Bhavya"]

['B', 'h', 'a', 'v', 'y', 'a']

In [83]:
# Create a list of even numbers without list comprehension
my_list = []
for i in range(10):
    if(i%2 == 0):
        my_list.append(i)
print(my_list)

[0, 2, 4, 6, 8]

In [82]:
# Create a list of even numbers using list comprehension
[i for i in range(10) if(i%2==0)]

[0, 2, 4, 6, 8]

In [84]:
# Create a list of odd numbers using list comprehension
[i for i in range(10) if(i%2!=0)]

[1, 3, 5, 7, 9]

In [88]:
# Create a list which will label odd and even depending upon the index using list comprehension
["odd" if i%2 !=0 else "even" for i in range(5)]

['even', 'odd', 'even', 'odd', 'even']

In [91]:
# Create a list [[0,1,2],[0,1,2],[0,1,2]] using list comprehension
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [95]:
# Writing nested conditions in list comprehension
[i for i in range(10) if i%2 == 0 if i % 3 != 0]

[2, 4, 8]

In [96]:
# Replicating elif in list comprehension
my_list = [0,1,2,3,4,5,6,7,8]
res = []
for i in my_list:
    if i == 1:
        res.append("yes")
    elif i == 2:
        res.append("no")
    else:
        res.append("test")
print(res)

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test']

In [97]:
["yes" if i == 1 else "no" if i == 2 else "test" for i in my_list]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test']